# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science.
* List libraries used for data science.
* List open source tools used in data science.
* Create code cells and markdown.
* Create ordered and unordered lists in markdown.
* Create headings and bold texts.

Some of the popular languages that Data Scientists use are:

1. Phyton
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Keras
5. TensorFlow

| Data Science Tools |
|--------------------|
| Seldon |
| Kubernetes|
| Apache prediction IO|
| TensorFlow service|
| RStudio|
|Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python
5+2

7-4

2*3

8/2

In [2]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Nailet Torres